language: android
dist: trusty
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    - build-tools-30.0.3

    # The SDK version used to compile your project
    - android-30

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - quemu-system-x86_64
    addons:
      sonarcloud:
        organization: "jolutoher18"
        token:
          secure: "68ac5cd714b1d0abac874917e76c6698f9645db1" # encrypted value of your token